// @font-face {
//     font-family: 'SF UI Display';
//     src: url('../fonts/SFUIDisplay-Regular.woff2') format('woff2'),
//         url('../fonts/SFUIDisplay-Regular.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
// }

@font-face {
    font-family: Roboto-Bold;
    src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: Roboto-Bolder;
    src: url('../fonts/Roboto-Black.ttf');
}

@font-face {
    font-family: Roboto-Regular;
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: Recoleta;
    src: url('../fonts/Recoleta-SemiBold.ttf');
}