/* By Uk */
@font-face {
  font-family: Roboto-Bold;
  src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: Roboto-Bolder;
  src: url("../fonts/Roboto-Black.ttf");
}

@font-face {
  font-family: Roboto-Regular;
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: Recoleta;
  src: url("../fonts/Recoleta-SemiBold.ttf");
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  font-family: Roboto-Regular;
  background: #070707;
}

body::-webkit-scrollbar {
  width: 5px;
  background-color: #16161E;
}

body::-webkit-scrollbar-track {
  background-color: #16161E;
}

body::-webkit-scrollbar-thumb {
  background-color: #FBD54A;
  border-radius: 6px;
}

header {
  width: 100%;
  position: fixed;
  z-index: 999;
  padding: 0;
  margin: 0;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

header .navbar {
  font-weight: 100;
  padding: 2% 11%;
  height: auto;
  top: 1%;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

@media (max-width: 575.98px) {
  header .navbar {
    padding: 3% 2.5%;
    top: 0;
    background: #070707;
    -webkit-box-shadow: 0px 2px 10px rgba(12, 12, 12, 0.145);
            box-shadow: 0px 2px 10px rgba(12, 12, 12, 0.145);
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  header .navbar {
    padding: 3% 2.5%;
    top: 0;
    background: #070707;
    -webkit-box-shadow: 0px 2px 10px rgba(12, 12, 12, 0.145);
            box-shadow: 0px 2px 10px rgba(12, 12, 12, 0.145);
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  header .navbar {
    padding: 3% 2.5%;
    top: 0;
    background:black
  }
}

header .navbar.blackto {
  background: #070707;
  -webkit-box-shadow: 0px 2px 10px rgba(12, 12, 12, 0.145);
          box-shadow: 0px 2px 10px rgba(12, 12, 12, 0.145);
  padding: 1% 11%;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

@media (max-width: 575.98px) {
  header .navbar.blackto {
    padding: 3% 2.5%;
    top: 0;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  header .navbar.blackto {
    padding: 3% 2.5%;
    top: 0;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  header .navbar.blackto {
    padding: 3% 2.5%;
    top: 0;
    background :black;
  }
}

header .navbar.blackto .navbar-brand .logo {
  width: 50px;
  position: relative;
  top: 0;
}

header .navbar .navbar-toggler {
  outline: none;
  color: #ffffff;
}

header .navbar .navbar-brand {
  padding: 0;
  font-size: initial;
}

header .navbar .custom-navbar-nav {
  position: relative;
}

header .navbar .custom-navbar-nav .nav-item {
  position: relative;
}

header .navbar .custom-navbar-nav .nav-item .nav-link {
  padding: 0.5rem 1.5rem;
  color: #ffffff;
  font-size: 16px;
  position: relative;
  -webkit-transition: all 400ms cubic-bezier(0.29, 0.9, 0.26, 1);
  transition: all 400ms cubic-bezier(0.29, 0.9, 0.26, 1);
}

header .navbar .custom-navbar-nav .nav-item .nav-link:hover {
  color: rgba(107, 166, 255, 0.929);
}

@media (max-width: 575.98px) {
  header .navbar .custom-navbar-nav .nav-item .nav-link {
    padding: .5rem .5rem;
  }
}

.menu-navbar {
  margin-left: auto;
  display: none;
  position: absolute;
  right: 7%;
  top: 25px;
}

@media (max-width: 575.98px) {
  .menu-navbar {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    padding: 4%;
    background-color: #2D2E2C;
    border-radius: 4;
    -webkit-box-shadow: 0px 2px 10px rgba(12, 12, 12, 0.145);
            box-shadow: 0px 2px 10px rgba(12, 12, 12, 0.145);
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .menu-navbar {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    padding: 4%;
    background-color: #565A5C;
    border-radius: 4;
    -webkit-box-shadow: 0px 2px 10px rgba(12, 12, 12, 0.145);
            box-shadow: 0px 2px 10px rgba(12, 12, 12, 0.145);
  }
}

.menu-navbar.opened {
  display: block;
  -webkit-animation: open 0.3s 0.2s linear backwards;
          animation: open 0.3s 0.2s linear backwards;
}

a, button {
  outline: none !important;
}

.center-sm {
  position: relative;
  z-index: 99;
}

@media (max-width: 575.98px) {
  .center-sm {
    text-align: center;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .center-sm {
    text-align: center;
  }
}

.btn, .home .home-content .home-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 190px;
  height: 55px;
  border: 1px solid #f5f5f5;
  background: #f5f5f5;
  border-radius: 30px;
  font-size: 16px;
  font-family: Roboto-Bold;
  color: #000000;
  text-decoration: none;
  margin-top: 10px;
  -webkit-transition: all 400ms cubic-bezier(0.29, 0.9, 0.26, 1);
  transition: all 400ms cubic-bezier(0.29, 0.9, 0.26, 1);
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.btn:hover, .home .home-content .home-link:hover {
  color: #ffffff;
  opacity: 1;
  text-decoration: none;
  background-color: transparent;
}

.home {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media (max-width: 575.98px) {
  .home {
    padding-top: 16%;
    min-height: auto;
    /* padding-bottom: 100%; */
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .home {
    padding-top: 13%;
  }
}

.home::before {
  content: 'MCC';
  position: absolute;
  left: 0;
  font-size: 100px;
  -webkit-transform: rotate(-90deg) translateY(-180%);
          transform: rotate(-90deg) translateY(-180%);
  font-family: Roboto-Bold;
  color: rgba(72, 78, 87, 0.13);
  text-transform: uppercase;
  z-index: -1;
}

@media (max-width: 575.98px) {
  .home::before {
    font-size: 50px;
  }
}

.home .home-container {
  padding-left: 11%;
  width: 100%;
  /* height: 100vh; */
}

.home .home-content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 35%;
  position: relative;
  z-index: 1;
}

@media (max-width: 575.98px) {
  .home .home-content {
    margin-bottom: 8%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .home .home-content {
    margin-bottom: 8%;
  }
}

.home .home-content .home-title {
  color: #ffffff;
  font-size: 45px;
  margin-bottom: 6%;
}

@media (max-width: 575.98px) {
  .home .home-content .home-title {
    font-size: 35px;
  }
}

.home .home-content .home-link {
  width: 60%;
}

.home .home-box {
  width: 100%;
  height: 100%;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 0;
}

.home .home-box img {
  width: 100%;
  height: auto;
}

@media (max-width: 575.98px) {
  .home .home-box img {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .home .home-box img {
    width: 100%;
  }
}

.home .scroll-down {
  position: absolute;
  left: 50%;
  bottom: -3%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 12px;
  color: #ffffff;
  display: inline-block;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  -webkit-animation: updown 0.5s linear infinite alternate;
          animation: updown 0.5s linear infinite alternate;
}

.home .scroll-down:hover {
  text-decoration: none;
}

.home .scroll-down::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -50px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 1px;
  height: 30px;
  background-color: #ffffff;
  z-index: -1;
  -webkit-transition: all 400ms 200ms cubic-bezier(0.29, 0.9, 0.26, 1);
  transition: all 400ms 200ms cubic-bezier(0.29, 0.9, 0.26, 1);
}

@-webkit-keyframes globe2 {
  0% {
    -webkit-filter: saturate(1);
            filter: saturate(1);
    -webkit-transform: rotate(0deg) translate(0) rotate(0deg);
            transform: rotate(0deg) translate(0) rotate(0deg);
  }
  10% {
    -webkit-filter: saturate(10);
            filter: saturate(10);
  }
  20% {
    -webkit-filter: saturate(20);
            filter: saturate(20);
  }
  30% {
    -webkit-filter: saturate(30);
            filter: saturate(30);
  }
  40% {
    -webkit-filter: saturate(40);
            filter: saturate(40);
  }
  50% {
    -webkit-filter: saturate(50);
            filter: saturate(50);
  }
  60% {
    -webkit-filter: saturate(60);
            filter: saturate(60);
  }
  70% {
    -webkit-filter: saturate(90);
            filter: saturate(90);
  }
  80% {
    -webkit-filter: saturate(60);
            filter: saturate(60);
  }
  90% {
    -webkit-filter: saturate(30);
            filter: saturate(30);
  }
  100% {
    -webkit-filter: saturate(0);
            filter: saturate(0);
    -webkit-transform: rotate(360deg) translate(0) rotate(360deg);
            transform: rotate(360deg) translate(0) rotate(360deg);
  }
}

@keyframes globe2 {
  0% {
    -webkit-filter: saturate(1);
            filter: saturate(1);
    -webkit-transform: rotate(0deg) translate(0) rotate(0deg);
            transform: rotate(0deg) translate(0) rotate(0deg);
  }
  10% {
    -webkit-filter: saturate(10);
            filter: saturate(10);
  }
  20% {
    -webkit-filter: saturate(20);
            filter: saturate(20);
  }
  30% {
    -webkit-filter: saturate(30);
            filter: saturate(30);
  }
  40% {
    -webkit-filter: saturate(40);
            filter: saturate(40);
  }
  50% {
    -webkit-filter: saturate(50);
            filter: saturate(50);
  }
  60% {
    -webkit-filter: saturate(60);
            filter: saturate(60);
  }
  70% {
    -webkit-filter: saturate(90);
            filter: saturate(90);
  }
  80% {
    -webkit-filter: saturate(60);
            filter: saturate(60);
  }
  90% {
    -webkit-filter: saturate(30);
            filter: saturate(30);
  }
  100% {
    -webkit-filter: saturate(0);
            filter: saturate(0);
    -webkit-transform: rotate(360deg) translate(0) rotate(360deg);
            transform: rotate(360deg) translate(0) rotate(360deg);
  }
}

@-webkit-keyframes updown {
  to {
    -webkit-transform: translate(-50%, -90%);
            transform: translate(-50%, -90%);
  }
}

@keyframes updown {
  to {
    -webkit-transform: translate(-50%, -90%);
            transform: translate(-50%, -90%);
  }
}

@-webkit-keyframes homeLogo {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes homeLogo {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

.line {
  width: 25%;
  height: 2px;
  background-color: #fff;
  margin-bottom: 8%;
}

.title {
  color: #ffffff;
  font-weight: bold;
  font-size: 28px;
  position: relative;
  margin-bottom: 18px;
  font-family: Roboto-Bold;
}

@media (max-width: 575.98px) {
  .title {
    font-size: 28px;
    margin-bottom: 10px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .title {
    font-size: 28px;
    margin-bottom: 10px;
  }
}

.content {
  color: #ffffff;
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 18px;
}

.content:nth-last-child(1) {
  margin-bottom: 2px;
}

@media (max-width: 575.98px) {
  .content {
    font-size: 13px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .content {
    font-size: 16px;
  }
}

.aboutus {
  position: relative;
  width: 100%;
  height: auto;
  padding: 10% 0%;
  z-index: 4;
  background-color: #232323;
}

@media (max-width: 575.98px) {
  .aboutus {
    padding-bottom: 15%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .aboutus {
    padding-bottom: 15%;
  }
}

.aboutus .abt-mb {
  margin-bottom: 7%;
}

.aboutus .aboutus-image-box {
  padding: 1% 0%;
  position: relative;
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 575.98px) {
  .aboutus .aboutus-image-box {
    min-height: 360px;
  }
}

.aboutus .aboutus-image-box .abt-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  -webkit-box-shadow: 12px 7px 124px 0 rgba(0, 0, 0, 0.9);
          box-shadow: 12px 7px 124px 0 rgba(0, 0, 0, 0.9);
  cursor: pointer;
  -webkit-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@media (max-width: 575.98px) {
  .aboutus .aboutus-image-box .abt-img {
    width: 130px;
    height: 130px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .aboutus .aboutus-image-box .abt-img {
    width: 130px;
    height: 130px;
  }
}

.aboutus .aboutus-image-box .abt-img:hover {
  -webkit-filter: saturate(5);
          filter: saturate(5);
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.aboutus .aboutus-image-box .abt-img.abt-img2 {
  width: 300px;
  height: 300px;
  z-index: 9;
}

@media (max-width: 575.98px) {
  .aboutus .aboutus-image-box .abt-img.abt-img2 {
    width: 180px;
    height: 180px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .aboutus .aboutus-image-box .abt-img.abt-img2 {
    width: 180px;
    height: 180px;
  }
}

.aboutus .aboutus-image-box .abt-img.abt-img1, .aboutus .aboutus-image-box .abt-img.abt-img3 {
  position: absolute;
  -webkit-animation: abtImg 5s linear infinite;
          animation: abtImg 5s linear infinite;
}

.aboutus .aboutus-image-box .abt-img.abt-img1 {
  left: 0;
  top: 0;
}

.aboutus .aboutus-image-box .abt-img.abt-img3 {
  right: 0;
  bottom: 0;
  animation-direction: reverse;
}

.aboutus .about-box {
  position: relative;
  margin-top: 8%;
}

@-webkit-keyframes abtImg {
  0% {
    -webkit-transform: rotate(0deg) translate(10px) rotate(0deg);
            transform: rotate(0deg) translate(10px) rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg) translate(10px) rotate(-360deg);
            transform: rotate(360deg) translate(10px) rotate(-360deg);
  }
}

@keyframes abtImg {
  0% {
    -webkit-transform: rotate(0deg) translate(10px) rotate(0deg);
            transform: rotate(0deg) translate(10px) rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg) translate(10px) rotate(-360deg);
            transform: rotate(360deg) translate(10px) rotate(-360deg);
  }
}

@-webkit-keyframes icon {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

@keyframes icon {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

.org {
  background-color: #070707;
  padding: 6% 0%;
}

.org .art-box {
  position: relative;
  padding: 2% 0%;
  margin-top: 5%;
}

.org .art-box .art-img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 12px 7px 124px 0 rgba(0, 0, 0, 0.9);
          box-shadow: 12px 7px 124px 0 rgba(0, 0, 0, 0.9);
  position: relative;
  z-index: 7;
  -webkit-animation: abtImg 5s linear infinite;
          animation: abtImg 5s linear infinite;
}

 @media (max-width: 575.98px) {
  .org .art-box .art-img {
    margin-top: 10%;
    width: 68%;
  }
}
/*
.art .art-box .art-img.art-img1 {
  position: absolute;
  right: -13%;
  top: -30%;
  z-index: 0;
  animation-direction: reverse;
}

@media (max-width: 575.98px) {
  .art .art-box .art-img.art-img1 {
    right: 0;
    top: -15%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .art .art-box .art-img.art-img1 {
    right: -8%;
    top: -15%;
  }
} */

.roadmap-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 1%;
}

.roadmap-top .roadmap-title {
  margin-bottom: 1%;
}

.roadmap-txt {
  color: #d1d1d1;
  font-size: 16px;
  margin-bottom: 5%;
}

.roadmap-box {
  padding: 10% 7%;
  background-color: #000000;
  height: auto;
  border-radius: 1px;
}

.roadmap-box .roadmap-subtitle {
  color: #ffffff;
  font-size: 28px;
  margin-bottom: 30px;
}

@media (max-width: 575.98px) {
  .roadmap-box .roadmap-subtitle {
    font-size: 24px;
    margin-bottom: 10px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .roadmap-box .roadmap-subtitle {
    font-size: 24px;
    margin-bottom: 10px;
  }
}

.roadmap-box .roadmap-title {
  color: #ffffff;
  font-size: 28px;
  margin-bottom: 5%;
}

@media (max-width: 575.98px) {
  .roadmap-box .roadmap-title {
    font-size: 20px;
  }
}

.roadmap-box .roadmap-content {
  color: #d1d1d1;
  font-size: 16px;
  margin-bottom: 8%;
  line-height: 1.8;
}

.roadmap-box .roadmap-content:nth-last-child(1) {
  margin-bottom: 0;
}

@media (max-width: 575.98px) {
  .roadmap-box .roadmap-content {
    font-size: 13px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .roadmap-box .roadmap-content {
    font-size: 14px;
  }
}

#roadmap.owl-theme .owl-nav .owl-prev, #roadmap.owl-theme .owl-nav .owl-next {
  position: absolute;
  top: -5%;
  right: 74px;
  -webkit-transform: translate(0%, -130%);
          transform: translate(0%, -130%);
  padding: 0;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.12);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 14px;
  color: rgba(59, 59, 59, 0.98);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 575.98px) {
  #roadmap.owl-theme .owl-nav .owl-prev, #roadmap.owl-theme .owl-nav .owl-next {
    width: 30px;
    height: 30px;
    right: 36px;
    top: -12%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  #roadmap.owl-theme .owl-nav .owl-prev, #roadmap.owl-theme .owl-nav .owl-next {
    width: 40px;
    height: 40px;
    right: 36px;
    top: -10%;
  }
}

#roadmap.owl-theme .owl-nav .owl-next {
  right: 0;
}

.team {
  background-color: #070707;
}

.featuredOn{
  background-color: #232323;  
}

.team .team-content {
  width: 50%;
  text-align: center;
  color: #d1d1d1;
  margin: 0 auto;
  margin-bottom: 5%;
}

@media (max-width: 575.98px) {
  .team .team-content {
    width: 95%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .team .team-content {
    width: 90%;
  }
}

.team .tm-bx {
  position: relative;
  margin: 10px 0px;
  cursor: pointer;
  -webkit-transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.team .tm-bx:hover .tm-bx-img img {
  -webkit-filter: saturate(5);
          filter: saturate(5);
}

.team .tm-bx:hover .tm-bx-body {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

.team .tm-bx .tm-bx-img {
  width: 100%;
  height: 420px;
}

@media (max-width: 575.98px) {
  .team .tm-bx .tm-bx-img {
    height: 320px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .team .tm-bx .tm-bx-img {
    height: 380px;
  }
}

.team .tm-bx .tm-bx-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team .tm-bx .tm-bx-body {
  width: 90%;
  min-height: 140px;
  background-color: #232323;
  padding: 15px;
  margin: 0 auto;
  position: relative;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 6px;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  -webkit-transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.team .tm-bx .tm-bx-body .tm-name {
  color: #ffffff;
  font-size: 20px;
}

.team .tm-bx .tm-bx-body .tm-rl {
  color: #d1d1d1;
  font-size: 13px;
  margin-bottom: 0;
}

.artist {
  position: relative;
}

.artist .artist-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 7%;
}

.artist .artist-top .line {
  margin-bottom: 3%;
}

.artist .artist-top .title {
  margin-bottom: 4%;
}

.artist .artist-bx {
  background-color: #000;
  padding: 10%;
  -webkit-box-flex: 1.2;
      -ms-flex: 1.2;
          flex: 1.2;
  position: relative;
  z-index: 4;
}

.artist .artist-bx .artist-bx-txt {
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 25px;
}

.artist .artist-bx .artist-bx-txt span {
  font-family: Roboto-Bold;
}

.artist .artist-bx hr {
  border-bottom: 1px solid grey;
}

.artist .artist-bx .artist-bx-btn {
  width: 55%;
  height: 50px;
  font-size: 14px;
  font-family: Roboto-Regular;
}

.artist .artist-bx-img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  -webkit-transform: translate(-10%, -10%);
          transform: translate(-10%, -10%);
  z-index: 6;
}

.artist .artist-bx-img img {
  width: 100%;
  height: auto;
  -webkit-box-shadow: 12px 7px 124px 0 rgba(0, 0, 0, 0.9);
          box-shadow: 12px 7px 124px 0 rgba(0, 0, 0, 0.9);
}

.join {
  width: 100%;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 1% 5%;
  z-index: 9;
  background-color: #181818;
}

@media (max-width: 575.98px) {
  footer {
    padding-top: 8%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  footer {
    padding-top: 8%;
  }
}

footer .footer-bx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 575.98px) {
  footer .footer-bx {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  footer .footer-bx {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .footer-bx .footer-logo {
  margin-right: 10px;
}

footer .footer-bx .footer-logo img {
  width: 60px;
}

footer .footer-list {
  position: relative;
  width: 100%;
  list-style: none;
  margin: 10px 0;
  padding-left: 0px;
}

footer .footer-list .footer-li {
  padding: 0px 0px;
  display: inline-block;
  margin-right: 5%;
}

footer .footer-list .footer-li .footer-list-link {
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

footer .footer-list .footer-li .footer-list-link:hover {
  text-decoration: none;
}

footer .copyright {
  color: #ffffff;
  font-size: 18px;
}

@media (max-width: 575.98px) {
  footer .copyright {
    text-align: center;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  footer .copyright {
    text-align: center;
  }
}

footer .social-media {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 575.98px) {
  footer .social-media {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 10px;
  }
}

footer .social-media li {
  margin-right: 15px;
  margin-bottom: 3px;
}

footer .social-media li:nth-last-child(1) {
  margin-right: 0;
}

footer .social-media .social-links {
  color: rgba(59, 59, 59, 0.68);
  width: 44px;
  height: 44px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 2px 8px rgba(59, 59, 59, 0.12);
          box-shadow: 0px 2px 8px rgba(59, 59, 59, 0.12);
  font-size: 12px;
  text-decoration: none;
  -webkit-transition: all 400ms cubic-bezier(0.29, 0.9, 0.26, 1.21);
  transition: all 400ms cubic-bezier(0.29, 0.9, 0.26, 1.21);
}

footer .social-media .social-links:hover {
  background-color: #2D2E2C;
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

footer .social-media .social-links img {
  width: 25px;
}

.mnt-btn, .mint .mint-header .mint-header-btn, .mint-body .mintnow-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 150px;
  height: 38px;
  border: 0;
  background-color: #f9b224;
  border-radius: 4px;
  font-size: 16px;
  color: #ffffff;
  -webkit-transition: all 400ms cubic-bezier(0.29, 0.9, 0.26, 1);
  transition: all 400ms cubic-bezier(0.29, 0.9, 0.26, 1);
  outline: none;
}

.mnt-btn:hover, .mint .mint-header .mint-header-btn:hover, .mint-body .mintnow-btn:hover {
  color: #000000;
  background-color: #e59a06;
}

.mint {
  position: relative;
  padding: 2% 0%;
}

.mint .mint-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 4%;
}

@media (max-width: 575.98px) {
  .mint .mint-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 15%;
  }
}

.mint .mint-header .mint-header-top {
  color: #ffffff;
  font-size: 40px;
  font-family: Roboto-Bold;
  text-transform: uppercase;
  margin-bottom: 0;
}

@media (max-width: 575.98px) {
  .mint .mint-header .mint-header-top {
    margin-bottom: 14px;
  }
}

.mint .mint-header .mint-header-btn:hover {
  background-color: #36c555 !important;
  color: #ffffff;
}

.mint-body {
  padding: 5% 0%;
}

.mint-body .mint-bx-title {
  color: #ffffff;
  margin-bottom: 10%;
  font-family: Roboto-Bold;
  font-size: 28px;
}

.mint-body .mint-bx-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 5%;
}

.mint-body .mint-bx-list .mint-bx-item {
  border: 2px solid #f9b224;
  border-left: 0;
  border-right: 0;
  margin-bottom: 2%;
  padding: 14px 0px;
  color: #ffffff;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mint-body .mintnow-btn {
  width: 240px;
  height: 70px;
  font-size: 18px;
  margin-bottom: 14px;
}

.mint-body .mint-amt {
  font-size: 18px;
  color: #ffffff;
}

.mint-bx-img {
  width: 100%;
  height: auto;
  text-align: center;
}

.mint-bx-img img {
  width: 90%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}


main {
  max-width: 100%;
  margin: 0 auto;
  padding: 2%;
}
summary {
  font-size: 1.25rem;
  font-weight: 600;
  background-color: #000;
  color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
  outline: none;
  border-radius: 0.25rem;
  text-align: left;
  cursor: pointer;
  position: relative;
}
details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
}
@keyframes sweep {
  0%    {opacity: 0; margin-top: -10px}
  100%  {opacity: 1; margin-top: 0px}
}
details > summary::after {
  position: absolute;
  content: "+";
  right: 20px;
}
details[open] > summary::after {
  position: absolute;
  content: "-";
  right: 20px;
}
details > summary::-webkit-details-marker {
  display: none;
}

.faq_content_text{
  color: #FFFFFF;
}

.mintInfo{
  color: #e5e90e;
  font-weight: bold;
  font-size: 30px;
  position: relative;
  margin-bottom: 18px;
  font-family: Roboto-Bold;
}


#clock span {
  float: left;
  text-align: center;
  font-size: 60px;
  margin: 0 2.5%;
  color: #ffffff;
  padding: 20px;
  width: 20%;
  border-radius: 20px;
  box-sizing: border-box;
}

#clock span:nth-child(1) {
  background: #C70039;
}

#clock span:nth-child(2) {
  background: #FF5733;
}

#clock span:nth-child(3) {
  background: #FFC300;
}

#clock span:nth-child(4) {
  background: #C9E498;
}

#clock:after {
  content: "";
  display: block;
  clear: both;
}

#units span {
  float: left;
  width: 25%;
  text-align: center;
  margin-top: 30px;
  color: #D7DBDD;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  text-shadow: 1px 1px 1px rgba(10, 10, 10, 0.7)
}

span.turn {
  animation: turn 0.5s ease forwards;
}

@keyframes turn {
  0% {
      transform: rotateY(0deg)
  }

  100% {
      transform: rotateY(360deg)
  }
}

#earlyBird{
  color: #e5e90e;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  margin-bottom: 12px;
  font-family: Roboto-Bold;
}

#preSale{
  color: #e5e90e;
  font-weight: bold;
  font-size: 30px;
  position: relative;
  margin-bottom: 18px;
  font-family: Roboto-Bold;
}

#joinDiscordServer{
  color: #e5e90e;
  font-weight: bold;
  font-size: 15px;
  position: relative;
  margin-bottom: 9px;
  font-family: Roboto-Bold; 
}


#founders{
  color: #e5e90e;
  font-weight: bold;
  font-size: 30px;
  position: relative;
  margin-top: 12px;
  font-family: Roboto-Bold; 
}


.why-us h2 {
    position: relative;
    margin-bottom: 35px;
}
.why-us h2::after {
    content: "";
    width: 120px;
    height: 3px;
    display: inline-block;
    background: #FFC107;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -20px;
    margin: 0 auto;
}

.why-us .box {
    padding: 50px 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.10);
    transition: 0.5s;
    position: relative;
    background-color: #333;
    max-height: 230px;
    overflow: hidden;
    margin-bottom: 30px;
    border-radius: 10px;
}
.why-us .box:hover {
  padding: 30px 30px 70px 30px;
  box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.20);
  background-color: rgba(0, 0, 0, 0.3);
}
.why-us .box img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: -1;
  opacity: 0;
  transition:all ease 1s; 
}
.why-us .box:hover img {
  opacity: 1;
}
.why-us .box span {
    display: block;
    font-size: 56px;
    font-weight: 700;
    color: #6b6060;
    position: absolute;
    right: 10px;
    top: 0px;
    line-height: normal;
}
.why-us .box h4 a {
  font-size: 24px;
  font-weight: 600;
  padding: 0;
  margin: 20px 0;
  color: #dadada;
  text-decoration: none;
}
.why-us .box p {
  color: #aaaaaa;
  font-size: 15px;
  margin: 0;
  padding: 0;
}
.why-us .box:hover span,
.why-us .box:hover h4 a,
.why-us .box:hover p {
    color: #fff;
}





 
#countdown {
  color: #F6F4F3;
  text-align: center;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  letter-spacing: 5px;
  margin-top: 5px;
}
 
.days, .hours, .minutes, .seconds, .left {
  display: inline-block;
  padding: 1px;
  width: 125px;
  border-radius: 10px;
}
 
.days {
  background: #D87200;
}
 
.hours {
  background:  #FF3E41;
}
 
.minutes {
  background: #FFB20C;
}
 
.seconds {
  background:  #2186FF;
}
 
.left {
 background: #E10A0A;
}
.c-number {
  font-family: "Montserrat", sans-serif;
  color: #333;
  font-size: 5em;
}

/*# sourceMappingURL=style.css.map */
